<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">Ver Paquete</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="formActualizarPaquete" (ngSubmit)="onSubmit()">
        <input id="paquete_id" name="paquete_id" type="number" value="{{ paqueteId() }}" required hidden="hidden">

        <div class="row g-3">
          <div class="col-xxl-6 col-sm-12 input-group-lg">
            <div class="form-line">
              <label for="codigo_guia" class="col-form-label">Código Guía</label>
              <input id="codigo_guia" formControlName="codigo_guia" type="text" class="form-control validate" required readonly>
              @if (formActualizarPaquete.get('codigo_guia')?.invalid && (formActualizarPaquete.get('codigo_guia')?.dirty || formActualizarPaquete.get('codigo_guia')?.touched)) {
                <div class="error">
                  @if (formActualizarPaquete.get('codigo_guia')?.errors?.['required']) {
                    <span style="color: #FF0000; font-weight: 500; margin-bottom: .5rem;">El campo es requerido.</span>
                  }
                </div>
              }
            </div>
          </div>

          <div class="col-xxl-6 col-sm-12 input-group-lg">
            <div class="form-line">
              <label for="destinatario" class="col-form-label">Destinatario</label>
              <input id="destinatario" formControlName="destinatario" type="text" class="form-control validate" required>
              @if (formActualizarPaquete.get('destinatario')?.invalid && (formActualizarPaquete.get('destinatario')?.dirty || formActualizarPaquete.get('destinatario')?.touched)) {
                <div class="error">
                  @if (formActualizarPaquete.get('destinatario')?.errors?.['required']) {
                    <span style="color: #FF0000; font-weight: 500; margin-bottom: .5rem;">El campo es requerido.</span>
                  }
                </div>
              }
            </div>
          </div>

          <div class="col-xxl-6 col-sm-12 input-group-lg">
            <div class="form-line">
              <label for="ciudad_destino" class="col-form-label">Ciudad destino</label>
              <input id="ciudad_destino" formControlName="ciudad_destino" type="text" class="form-control validate" required>
              @if (formActualizarPaquete.get('ciudad_destino')?.invalid && (formActualizarPaquete.get('ciudad_destino')?.dirty || formActualizarPaquete.get('ciudad_destino')?.touched)) {
                <div class="error">
                  @if (formActualizarPaquete.get('ciudad_destino')?.errors?.['required']) {
                    <span style="color: #FF0000; font-weight: 500; margin-bottom: .5rem;">El campo es requerido.</span>
                  }
                </div>
              }
            </div>
          </div>

          <div class="col-xxl-6 col-sm-12 input-group-lg">
            <div class="form-line">
              <label for="peso_kg" class="col-form-label">Peso (Kg)</label>
              <input id="peso_kg" formControlName="peso_kg" type="number" class="form-control validate" min="1" required>
              @if (formActualizarPaquete.get('peso_kg')?.invalid && (formActualizarPaquete.get('peso_kg')?.dirty || formActualizarPaquete.get('peso_kg')?.touched)) {
                <div class="error">
                  @if (formActualizarPaquete.get('peso_kg')?.errors?.['required']) {
                    <span style="color: #FF0000; font-weight: 500; margin-bottom: .5rem;">El campo es requerido.</span>
                  }
                </div>
              }
            </div>
          </div>

          <div class="col-xxl-6 col-sm-12 input-group-lg">
            <div class="form-line">
              <label for="estado" class="col-form-label">Estado</label>
              <select id="estado" formControlName="estado" class="form-select validate" required>
                @for (estado of estados; track estado.id) {
                  <option [value]="estado.id">{{ estado.label }}</option>
                }
              </select>
            </div>
          </div>
        </div>

        <br/>

        <div class="row g-3">
          <div class="col-lg-6 col-md-6 col-sm-12 input-group-lg" style="text-align: right">
            <a routerLink="/backoffice/paquetes" class="btn btn-danger">
              <div class="text-send">
                Regresar
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 input-group-lg" style="text-align: left">
            <button type="submit" class="btn btn-success button-actualizar-paquete" [disabled]="formActualizarPaquete.invalid">
              <div class="text-send">
                Guardar
              </div>
              <span class="d-flex align-items-center">
                <span class="spinner-border flex-shrink-0" role="status" style="display: none;">
                  <span class="visually-hidden">Por favor, espere...</span>
                </span>
                <span class="flex-grow-1 ms-2" style="display: none;">
                  Por favor, espere...
                </span>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
